.question-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question-text {
  font-weight: 700;
  line-height: 1.6;
}
.question-text1 {
  color: var(--dl-color-gray-800);
  line-height: 1.6;
}

.mem-netscan-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mem-netscan-header {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-black);
}
.mem-netscan-hero-button1 {
  top: 150px;
  left: 60px;
  color: var(--dl-color-gray-white);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1.5rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}
.mem-netscan-hero-button1:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.mem-netscan-hero-button11 {
  top: 210px;
  left: 60px;
  color: var(--dl-color-gray-white);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1.5rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}
.mem-netscan-hero-button11:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.mem-netscan-hero {
  width: 1049px;
  height: 388px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 130px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.mem-netscan-container01 {
  gap: var(--dl-space-space-twounits);
  width: 1038px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-hero-heading {
  color: var(--dl-color-gray-black);
  width: 885px;
  height: 198px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.mem-netscan-hero-sub-heading {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.mem-netscan-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.mem-netscan-details {
  width: 100%;
  height: 504px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.mem-netscan-container02 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-details-heading {
  width: 578px;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.mem-netscan-details-sub-heading {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.mem-netscan-details-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
}
.mem-netscan-features {
  width: 100%;
  height: 1721px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.mem-netscan-features-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.mem-netscan-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 1004px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.mem-netscan-container03 {
  width: 1022px;
  height: 75px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-features-heading {
  top: -348px;
  left: 326px;
  color: var(--dl-color-gray-white);
  width: auto;
  position: absolute;
  font-family: "Raleway";
  line-height: 1.6;
}
.mem-netscan-container04 {
  width: 100%;
  height: 741px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.mem-netscan-feature-card {
  top: -320px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 311px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.mem-netscan-container05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-text {
  height: auto;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 35px;
}
.mem-netscan-form {
  width: 200px;
  height: 100px;
  display: flex;
}
.mem-netscan-hero-button12 {
  left: 30px;
  color: var(--dl-color-gray-white);
  width: 334px;
  bottom: 40px;
  height: 70px;
  display: flex;
  position: absolute;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1.5rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  flex-direction: row;
  padding-bottom: 1.5rem;
  background-color: var(--dl-color-gray-black);
}
.mem-netscan-hero-button12:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.mem-netscan-text03 {
  top: 21px;
  left: 24px;
  position: absolute;
  font-size: larger;
  align-self: center;
  font-style: normal;
  font-weight: 500;
}
.mem-netscan-feature-card1 {
  top: 56px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 999px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  overflow-y: scroll;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 5px;
  padding-right: 4px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.mem-netscan-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-text06 {
  font-family: "Raleway";
  font-weight: 600;
  line-height: 28px;
}
.mem-netscan-details1 {
  width: 100%;
  height: 392px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.mem-netscan-container07 {
  flex: 1;
  height: 341px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-text07 {
  top: 29px;
  left: 3px;
  position: absolute;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 28px;
}
.mem-netscan-text08 {
  top: 74px;
  left: 6px;
  color: var(--dl-color-gray-black);
  width: 1082px;
  height: 109px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 28px;
}
.mem-netscan-text09 {
  top: 195px;
  left: 3px;
  position: absolute;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 28px;
}
.mem-netscan-text10 {
  left: 5px;
  color: var(--dl-color-gray-black);
  width: 1082px;
  bottom: -5px;
  height: 109px;
  margin: auto;
  position: absolute;
  font-size: 18px;
  align-self: flex-end;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 28px;
}
.mem-netscan-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mem-netscan-faq-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.mem-netscan-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 685px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.mem-netscan-container08 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-text11 {
  color: var(--dl-color-primary1-blue80);
  font-family: "Raleway";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.mem-netscan-text14 {
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.mem-netscan-text15 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
}
.mem-netscan-container09 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mem-netscan-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.mem-netscan-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.mem-netscan-container10 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.mem-netscan-text32 {
  color: var(--dl-color-secondary-gray500);
  align-self: flex-start;
}
.mem-netscan-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.mem-netscan-text33 {
  color: var(--dl-color-secondary-gray500);
  align-self: flex-end;
}
@media(max-width: 991px) {
  .mem-netscan-hero {
    flex-direction: column;
  }
  .mem-netscan-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .mem-netscan-hero-heading {
    text-align: center;
  }
  .mem-netscan-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .mem-netscan-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .mem-netscan-text15 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .mem-netscan-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .mem-netscan-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .mem-netscan-details {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .mem-netscan-container02 {
    align-items: center;
    justify-content: flex-start;
  }
  .mem-netscan-details-heading {
    text-align: center;
  }
  .mem-netscan-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .mem-netscan-details-image {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .mem-netscan-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .mem-netscan-container04 {
    grid-template-columns: 1fr;
  }
  .mem-netscan-feature-card {
    flex-direction: row;
  }
  .mem-netscan-container05 {
    flex-direction: column;
  }
  .mem-netscan-feature-card1 {
    flex-direction: row;
  }
  .mem-netscan-container06 {
    flex-direction: column;
  }
  .mem-netscan-details1 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .mem-netscan-container07 {
    align-items: center;
    justify-content: flex-start;
  }
  .mem-netscan-faq1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .mem-netscan-container08 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .mem-netscan-text15 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .mem-netscan-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .mem-netscan-text32 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .mem-netscan-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .mem-netscan-text33 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .mem-netscan-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .mem-netscan-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .mem-netscan-btn-group {
    flex-direction: column;
  }
  .mem-netscan-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .mem-netscan-container05 {
    flex-direction: column;
  }
  .mem-netscan-container06 {
    flex-direction: column;
  }
  .mem-netscan-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .mem-netscan-text32 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .mem-netscan-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .mem-netscan-text33 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
