<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mem-cmdline - Complicated Devoted Gull</title>
    <meta
      property="og:title"
      content="mem-cmdline - Complicated Devoted Gull"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <div>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mem-cmdline.css') }}" />
       
      <div class="mem-cmdline-container">
        <div class="mem-cmdline-header">
          <!--<a href="index.html" class="mem-cmdline-hero-button1 button">Home</a>-->
          <form method="POST" action="/">
          <button class='mem-cmdline-hero-button1 button' type='submit'>Home</button>
          </form>
          <!--<a href="memory.html" class="mem-cmdline-hero-button11 button">Back</a>-->
          <form method="POST" action="/memory_forensics">
          <button class='mem-cmdline-hero-button11 button' type='submit'>Back</button>
          </form>
        </div>
        <div class="mem-cmdline-hero">
          <div class="mem-cmdline-container01">
            <h1 class="mem-cmdline-hero-heading heading1">
              Memory Dump Analysis
            </h1>
            <span class="mem-cmdline-hero-sub-heading">
              Unlock the secrets hidden in captured images of your storage
              devices
            </span>
            <div class="mem-cmdline-btn-group"></div>
          </div>
        </div>
        <div class="mem-cmdline-details">
          <div class="mem-cmdline-container02">
            <h2 class="mem-cmdline-details-heading heading2">
              <span>View Command Line Arguments</span>
              <br />
            </h2>
            <span class="mem-cmdline-details-sub-heading">
              This tool uses the 'cmdline' plugin of The Sleuth Kit to display the
              process command-line arguments. This plugin can be used to detect
              whether the process is launched using a malicious command or not.
              It also helps in differentiating a legitimate and a malicious
              executable by locating it's path.
            </span>
          </div>
          <img
            alt="image"
            src="https://www.newscraftgh.com/images/icons/data-storage-devices-sd-cards-usb-sticks-computer-hard-drive-110076228.jpg"
            class="mem-cmdline-details-image"
          />
        </div>
        <div class="mem-cmdline-features">
          <div class="mem-cmdline-features-container">
            <div class="mem-cmdline-features1">
              <div class="mem-cmdline-container03">
                <h2 class="mem-cmdline-features-heading heading2">
                  Display Command-Line Arguments
                </h2>
              </div>
              <div class="mem-cmdline-container04">
                <div class="mem-cmdline-feature-card">
                  <div class="mem-cmdline-container05">
                    <h3 class="mem-cmdline-text02 heading3">
                      <span>View Command Line Arguments</span>
                      <br />
                      <span class="mem-cmdline-text05">
                        Displays process command-line arguments.
                      </span>
                      <br />
                    </h3>
                  </div>
                  <form
                    id="cmdline-form"
                    action="/mem-cmdline.html"
                    method="POST"
                    class="mem-cmdline-form"
                  >
                    <button
                      id="cmdline-button"
                      type="submit"
                      class="mem-cmdline-hero-button12 button"
                    >
                      <span class="mem-cmdline-text07">
                        <span class="mem-cmdline-text08">
                          Display Command Line&nbsp;
                        </span>
                        <span>Arguments</span>
                        <br />
                      </span>
                    </button>
                    <input
                      type="hidden"
                      name="action"
                      value="cmdline"
                      placeholder="placeholder"
                      class="input"
                    />
                  </form>
                </div>
                <div id="output-container" class="mem-cmdline-feature-card1">
                  <div class="mem-cmdline-container06">
                    <h3 class="mem-cmdline-text11 heading3">Output</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mem-cmdline-details1">
          <div class="mem-cmdline-container07">
            <h3 class="mem-cmdline-text12 heading3">Disk Image Information</h3>
            <h3 class="mem-cmdline-text13 heading3">
              Helps to analyze various file systems, including FAT, NTFS, ext.
              which are represented with different offsets. Disk image
              information is essential for interpreting the file system
              structure, understanding file allocation, and extracting file
              metadata. It aids in the identification and recovery of deleted or
              hidden files as well.
            </h3>
            <h3 class="mem-cmdline-text14 heading3">Partition Information</h3>
            <h3 class="mem-cmdline-text15 heading3">
              Provides key details about a file system, including type, size,
              layout, and metadata, crucial for digital forensic analysis by
              revealing the structural and organizational aspects of the
              specified file system based on user input.
            </h3>
          </div>
        </div>
        <div class="mem-cmdline-faq">
          <div class="mem-cmdline-faq-container">
            <div class="mem-cmdline-faq1">
              <div class="mem-cmdline-container08">
                <span class="mem-cmdline-text16 sectionTitle">
                  <span>FAQ</span>
                  <br />
                </span>
                <h2 class="mem-cmdline-text19 heading2">Common questions</h2>
                <span class="mem-cmdline-text20">
                  <span>
                    Here are some of the most common questions that we get.
                  </span>
                  <br />
                  <span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                  </span>
                  <span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                  </span>
                </span>
              </div>
              <div class="mem-cmdline-container09">
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>What is storage forensics?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Storage forensics is the process of analyzing and
                      extracting data from storage devices such as hard drives,
                      solid-state drives, and USB drives to investigate and
                      gather evidence for legal or investigative purposes.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>What is memory forensics?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Memory forensics involves the analysis and examination of
                      a computer's volatile memory (RAM) to retrieve valuable
                      information such as running processes, network
                      connections, and encryption keys for forensic
                      investigations.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>Why is storage forensics important?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Storage forensics plays a crucial role in digital
                      investigations as it allows investigators to recover
                      deleted or hidden files, track user activities, and
                      uncover evidence related to cybercrimes or data breaches.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>How is memory forensics useful?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Memory forensics provides investigators with real-time
                      insights into a system's current state, allowing them to
                      identify active malware, detect malicious activities, and
                      recover valuable artifacts that may not be present on
                      disk.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>
                      What tools are commonly used in storage and memory
                      forensics?
                    </span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Popular tools for storage forensics include EnCase, FTK
                      Imager, and Autopsy. For memory forensics, tools like
                      Volatility Framework, Rekall, and WinDbg are widely used.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mem-cmdline-footer">
          <footer class="mem-cmdline-footer1">
            <div class="mem-cmdline-container10"></div>
            <span class="mem-cmdline-text37">Digital Forensic Framework</span>
            <div class="mem-cmdline-separator"></div>
            <span class="mem-cmdline-text38">
              Dhruv Suvarna, Mahesh KM, Mahika Gupta, Sonal Gabburi
            </span>
          </footer>
        </div>
      </div>
    </div>
    <script>
    
    document.addEventListener('DOMContentLoaded', function () {
      	
            const outputContainer = document.getElementById('output-container');
            const cmdlineButton = document.getElementById('cmdline-button');
            
            const cmdlineForm = document.getElementById('cmdline-form');
            
            function displayOutput(output) {
                outputContainer.innerHTML = output;
            }
            
	    cmdlineForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the img_stat function
                fetch('/mem-cmdline.html', {
                    method: 'POST',
                    body: new FormData(cmdlineForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });
    
	    
    });
    
    </script>
  </body>
</html>
