<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Storage - Complicated Devoted Gull</title>
    <meta property="og:title" content="Storage - Complicated Devoted Gull" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <div>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='storage.css') }}" />

      <div class="storage-container">
        <div class="storage-header"></div>
        <div class="storage-hero">
          <div class="storage-container01">
            <h1 class="storage-hero-heading heading1">
              Storage Disk Image Analysis
            </h1>
            <span class="storage-hero-sub-heading">
              Unlock the secrets hidden in captured images of your storage
              devices
            </span>
            <div class="storage-btn-group">
              <a
                href="#features-upload-image-info"
                class="storage-hero-button1 button"
              >
                Get Started
              </a>
              <a href="#faq-container" class="storage-hero-button2 button">
                Learn More&nbsp;→
              </a>
            </div>
          </div>
        </div>
        <div class="storage-details">
          <div class="storage-container02">
            <h2 class="storage-details-heading heading2">
              What is a Forensic Image?
            </h2>
            <span class="storage-details-sub-heading">
              A storage device image, also known as a disk image or sector-level
              copy, is a precise and bit-for-bit replica of an entire storage
              device, such as a hard disk drive (HDD), solid-state drive (SSD),
              or memory card. This image captures the exact contents of the
              device, including all files, operating system files, deleted data,
              and unused space.
            </span>
          </div>
          <img
            alt="image"
            src="https://www.newscraftgh.com/images/icons/data-storage-devices-sd-cards-usb-sticks-computer-hard-drive-110076228.jpg"
            class="storage-details-image"
          />
        </div>
        <div id="features-upload-image-info" class="storage-features">
          <div class="storage-features-container">
            <div class="storage-features1">
              <div class="storage-container03">
                <h2 class="storage-features-heading heading2">
                  Upload Your Disk Image and View it's Information&nbsp;
                </h2>
              </div>
              <div class="storage-container04">
                <div class="storage-feature-card">
                  <form
                    id="file-upload-form"
                    action="/storage_upload"
                    method="POST"
                    enctype="multipart/form-data"
                    class="storage-form"
                  >
                    <input
                      type="file"
                      name="file"
                      accept=".mem, .dump, .dd, .raw"
                      placeholder="placeholder"
                      class="storage-textinput input"
                    />
                    <button
                      id="file-upload-button"
                      type="submit"
                      class="storage-button button"
                    >
                  <!--    <span>
                        <span class="storage-text01">
                          Upload Forensic Image
                        </span>
                        <br />
                      </span> -->
                      Upload Forensic Image
                    </button>
                  </form>
                  <div class="storage-container05">
                    <div class="storage-container06">
                      <h3 class="storage-text03 heading3">Upload Disk Image</h3>
                    </div>
                  </div>
                  <div id="upload-banner" style="display: none;" class="storage-feature-card1">
                    <span class="storage-text04">
                      Disk Image uploaded successfully!
                    </span>
                  </div>
                </div>
                <div class="storage-feature-card2">
                  <div class="storage-container07">
                    <div class="storage-container08">
                      <div class="storage-container09">
                        <div class="storage-container10">
                          <h3 class="storage-text05 heading3">
                            Disk Image Information
                          </h3>
                        </div>
                        <h3 class="storage-text06 heading3">
                          View Partition Information
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="storage-container11"></div>
                  <form
                    id="image-info-form"
                    action="/image_info"
                    method="POST"
                    class="storage-form1"
                  >
                    <input
                      type="hidden"
                      name="action"
                      value="img_stat"
                      placeholder="placeholder"
                      class="input"
                    />
                    <button
                      type="submit"
                      id="image-info-button"
                      class="storage-hero-button11 button"
                    >
                      View Disk Image Info
                    </button>
                  </form>
                  <form
                    id="partition-info-form"
                    action="/partition_info"
                    method="POST"
                    class="storage-form2"
                  >
                    <input
                      type="hidden"
                      name="action"
                      value="mmls"
                      placeholder="placeholder"
                      class="input"
                    />
                    <a
                      href="#features-upload-image-info"
                      id="partition-info-button"
                      class="storage-hero-button12 button"
                    >
                      View Disk Partition Info
                    </a>
                  </form>
                </div>
                <div id="output-container" class="storage-feature-card3">
                 <!-- <div class="storage-container12"> -->
                    <h3 class="storage-text07 heading3">Output</h3>
                 <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="storage-details1">
          <div class="storage-container13">
            <h3 class="storage-text08 heading3">Disk Image Information</h3>
            <h3 class="storage-text09 heading3">
              Helps to analyze various file systems, including FAT, NTFS, ext.
              which are represented with different offsets. Disk image
              information is essential for interpreting the file system
              structure, understanding file allocation, and extracting file
              metadata. It aids in the identification and recovery of deleted or
              hidden files as well.
            </h3>
            <h3 class="storage-text10 heading3">Partition Information</h3>
            <h3 class="storage-text11 heading3">
              Provides key details about a file system, including type, size,
              layout, and metadata, crucial for digital forensic analysis by
              revealing the structural and organizational aspects of the
              specified file system based on user input.
            </h3>
          </div>
        </div>
        <div class="storage-features2">
          <div class="storage-gallery">
            <h1 class="storage-gallery-heading heading2">
              Storage Forensic Tools
            </h1>
            <div class="storage-container14">
              <a href="storage-fls.html">
                <div class="storage-container15">
                  <h3 class="storage-text12 heading3">
                    View Files and Directories
                  </h3>
                  <h3 class="storage-text13 heading3">
                    <span class="storage-text14">
                      Use fls to list allocated and deleted files and
                      directories.
                    </span>
                    <br />
                  </h3>
                </div>
              </a>
              <a href="storage-fsstat.html">
                <div class="storage-container16">
                  <h3 class="storage-text16 heading3">
                    <span>View File System Statistics of a Partition</span>
                    <br />
                  </h3>
                  <h3 class="storage-text19 heading3">
                    <span class="storage-text20">
                      Use fsstat to view file system statistics and details
                      including layouts, sizes and labels.
                    </span>
                    <br />
                  </h3>
                </div>
              </a>
              <a href="storage-ils.html">
                <div class="storage-container17">
                  <h3 class="storage-text22 heading3">
                    Use ils command to list inode structures and their
                    information.
                  </h3>
                  <h3 class="storage-text23 heading3">
                    View Inode Information
                  </h3>
                </div>
              </a>
              <a href="storage-jpegextract.html">
                <div class="storage-container18">
                  <h3 class="storage-text24 heading3">
                    <span class="storage-text25">
                      Use jpeg_extract to export all jpeg images onto a local
                      directory
                    </span>
                    <br />
                  </h3>
                  <h3 class="storage-text27 heading3">
                    <span>Extract Images from the disk</span>
                    <br />
                  </h3>
                </div>
              </a>
              <a href="storage-sorter.html">
                <div class="storage-container19">
                  <h3 class="storage-text30 heading3">
                    <span class="storage-text31">
                      Sorter sorts files based on their file type while also
                      performing extension checking.
                    </span>
                    <br />
                  </h3>
                  <h3 class="storage-text33 heading3">
                    <span>Extract Files based on File Type&nbsp;</span>
                    <br />
                  </h3>
                </div>
              </a>
              <a href="storage-icat.html">
                <div class="storage-container20">
                  <h3 class="storage-text36 heading3">
                    <span class="storage-text37">
                      Use icat to view the data units of a file, specified by
                      its metadata address.
                    </span>
                    <br />
                  </h3>
                  <h3 class="storage-text39 heading3">
                    <span>View File Contents</span>
                    <br />
                  </h3>
                </div>
              </a>
              <a href="storage-stringsearch.html">
                <div class="storage-container21">
                  <h3 class="storage-text42 heading3">
                    Search for a particular string in a partition
                  </h3>
                  <h3 class="storage-text43 heading3">
                    <span class="storage-text44">
                      tsk_recover extracts the unallocated or allocated files
                      from the disk image to local directory.&nbsp;
                    </span>
                    <br />
                  </h3>
                  <h3 class="storage-text46 heading3">
                    <span>Search for a String</span>
                    <br />
                  </h3>
                </div>
              </a>
              <a href="storage-istat.html">
                <div class="storage-container22">
                  <h3 class="storage-text49 heading3">
                    <span class="storage-text50">
                      This functionality uses the hashdump plugin to extract
                      NTLM hashed passwords which can be decrypted with John the
                      Ripper..
                    </span>
                    <br />
                  </h3>
                  <h3 class="storage-text52 heading3">
                    <span>View Metadata Structure Information</span>
                    <br />
                  </h3>
                </div>
              </a>
              <a href="storage-tskrecover.html">
                <div class="storage-container23">
                  <h3 class="storage-text55 heading3">
                    <span>Extract all files from Partition</span>
                    <br />
                  </h3>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="storage-faq">
          <div id="faq-container" class="storage-faq-container">
            <div class="storage-faq1">
              <div class="storage-container24">
                <span class="storage-text58 sectionTitle">
                  <span>FAQ</span>
                  <br />
                </span>
                <h2 class="storage-text61 heading2">Common questions</h2>
                <span class="storage-text62">
                  <span>
                    Here are some of the most common questions that we get.
                  </span>
                  <br />
                  <span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                  </span>
                  <span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                    <span>
                      <span></span>
                      <span></span>
                    </span>
                  </span>
                </span>
              </div>
              <div class="storage-container25">
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>What is storage forensics?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Storage forensics is the process of analyzing and
                      extracting data from storage devices such as hard drives,
                      solid-state drives, and USB drives to investigate and
                      gather evidence for legal or investigative purposes.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>What is memory forensics?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Memory forensics involves the analysis and examination of
                      a computer's volatile memory (RAM) to retrieve valuable
                      information such as running processes, network
                      connections, and encryption keys for forensic
                      investigations.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>Why is storage forensics important?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Storage forensics plays a crucial role in digital
                      investigations as it allows investigators to recover
                      deleted or hidden files, track user activities, and
                      uncover evidence related to cybercrimes or data breaches.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>How is memory forensics useful?</span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Memory forensics provides investigators with real-time
                      insights into a system's current state, allowing them to
                      identify active malware, detect malicious activities, and
                      recover valuable artifacts that may not be present on
                      disk.
                    </span>
                  </span>
                </div>
                <div class="question-container">
                  <span class="question-text heading4">
                    <span>
                      What tools are commonly used in storage and memory
                      forensics?
                    </span>
                  </span>
                  <span class="question-text1">
                    <span>
                      Popular tools for storage forensics include EnCase, FTK
                      Imager, and Autopsy. For memory forensics, tools like
                      Volatility Framework, Rekall, and WinDbg are widely used.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="storage-footer">
          <footer class="storage-footer1">
            <div class="storage-container26"></div>
            <span class="storage-text79">Digital Forensic Framework</span>
            <div class="storage-separator"></div>
            <span class="storage-text80">
              Dhruv Suvarna, Mahesh KM, Mahika Gupta, Sonal Gabburi
            </span>
          </footer>
        </div>
        <a href="index.html" class="storage-hero-button13 button">Home</a>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    >
    
    document.addEventListener('DOMContentLoaded', function () {
    
    const outputContainer = document.getElementById('output-container');
    const uploadBanner = document.getElementById('upload-banner');
    
    const imageInfoButton = document.getElementById('image-info-button');
    
    const imageInfoForm = document.getElementById('image-info-form');
    
    function displayUploadBanner() {
                uploadBanner.style.display = 'block';
                setTimeout(function() {
                    uploadBanner.style.display = 'none';
                }, 50000); // Hide the banner after 5 seconds (you can adjust the duration).
            }
            
    function displayOutput(output) {
                outputContainer.innerHTML = output;
            }
            
            
    const fileUploadForm = document.getElementById('file-upload-form');
		fileUploadForm.addEventListener('submit', async function (event) {
		    event.preventDefault(); // Prevent the default form submission
		    const formData = new FormData(fileUploadForm);

		    try {
			const response = await fetch('/storage_upload', {
			    method: 'POST',
			    body: formData,
			});

			if (response.ok) {
			    // File was successfully uploaded
			    displayUploadBanner();
			} else {
			    // Handle errors here
			    outputContainer.innerText = 'Error: ' + response.statusText;
			}
		    } catch (error) {
			outputContainer.innerText = 'Error: ' + error.message;
		    }
		});
		
		
     imageInfoForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the img_stat function
                fetch('/image_info', {
                    method: 'POST',
                    body: new FormData(imageInfoForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });

            partitionInfoForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Make an AJAX request to execute the mmls function
                fetch('/partition_info', {
                    method: 'POST',
                    body: new FormData(partitionInfoForm),
                })
                .then(response => response.text()) // Use text() instead of json()
                .then(data => {
                    displayOutput(data);
                })
                .catch(error => {
                    outputContainer.innerText = 'Error: ' + error.message;
                });
            });
		
    
    });
    </script>
  </body>
</html>
